*{
    margin: 0;
    box-sizing: border-box;
    
}

.page {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cover{
    background-color: white;
    width: 35em;
    height: 45em;
    position: relative;
    border-radius: 1em;
    box-shadow: 0 0.188em 1.55em rgb(137, 146, 157);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.image{
    height: 50px;
    width: 50px;
}