.dashboard {
    width: 100%;
}

.header {
    text-align: center;
    margin-bottom: 20px;
}

.navbar {
    display: flex;
    justify-content: space-evenly;
    background-color: #f8f9fa;
    padding: 1em;
}

.nav-link {
    text-decoration: none;
    color: #333;
}

.nav-button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s;
}

.nav-button:hover {
    background-color: #0056b3;
}
.signout-button {
    color: white;
    background-color: red;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    float: right; 
}
