.sidebar{
  border:0.5vw solid black;
  position:fixed;
  top:0;
  left:0;
  height:98vh;
  width: 11vw;
  background-color:rgb(219, 219, 219);
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  font-size:1.2vw;
  box-shadow: 0 0 6px hsl(210 14% 90%);
  }
