.profileList {
    position: relative;
    margin-left: 11%;
    margin-right: 3%;
    text-align: left;
    list-style-type: none;
}

.profile {
    position: relative;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    padding-left: 5%;
    border-top: solid black 1px;
    border-bottom: solid black 1px;
    font-size: 1.5vw;
}

.title {
    margin-left: 10%;
    text-align: center;
    font-size: 3vw;
}
